/* section 1 */
body {
margin: 0;
padding: 0;
background-color: #1f2937; 
color: white;   
}
.section1{
    padding: 40px;
}
.section1-header {
display: flex;
justify-content: center;
align-items: center;  
gap: 560px;
}
.section1-logo{
    font-family: "Cormorant SC";
    font-size: 35px;
}
.section1-links{
display: flex;
gap: 8px;
}
.section1-content{
padding: 40px;
display: flex;
justify-content: center;
align-items: center;
gap: 28px;
overflow-wrap: break-word;
}
.section1-text{
    display: flex;
    flex-direction: column;
    gap: 16px;    
}
.section1-title{
    font-size: 45px;
    font-weight: bold; 
}
.section1-paragraph{
    inline-size: 300px;   
}
.section1-button{
    border-style: solid;
    border-color: white;   
    padding: 6px 12px;
    align-self: flex-start;
}
.image{
    border-style: dashed;
    border-color: #E5E7EB;
}
/* section 2 */
.section2{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white; 
    color: black; 
}

.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.item2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.item3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.item4{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.s2-text{
    inline-size: 150px;
}
.section3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 40px;
}
.quote{
    padding-left: 40px;
    color: #1F2937;
    font-size: 36px;
    overflow-wrap: break-word;
    inline-size: 600px;
    font-style: italic;
}
.author{  
    color: #1F2937;
    font-size: 25px;
    align-self: center;
}
/* section 4 */
.section4{
    background-color: white;
    padding: 90px 120px;
    
}
.container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    border-radius: 26px;
    padding: 40px 40px;
    gap: 170px;

}
.section4-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.section4-header{
    font-size: 25px;
}
.signup{
    border-style: solid;
    border-color: white;
    border-radius: 18px;
    padding: 9px 21px;
    align-self: center;
}
/* hyperlink styles */
a {
    color: inherit; 
    text-decoration: inherit; 
  }
a:hover { text-decoration: underline; }

/* footer */
.footer{
    text-align: center;
    padding: 40px 40px;
}

